.itech-cms-color-inp{
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.itech-cms-text-editor .te:empty::before{
    content: attr(data-placeholder);
    color: #9bb4bd;
    font-style: italic;
    pointer-events: none;
}
.add-text-et-helper{
    position: absolute;
    top: calc(100% + 5px);
}
.add-text-et-helper::before{
    content: '';
    position: absolute;
    top: -2px;
    background-color: #d4ded4;
    width: 5px;
    height: 5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}
.te a{
    text-decoration: underline;
    color: #30c4ff;
}
.itech-cms-img-helper{
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}
.itech-helper-slide-right-enter-active,
.itech-helper-slide-right-leave-active {
  transition: all .2s ease-out;
}

.itech-helper-slide-right-enter-from,
.itech-helper-slide-right-leave-to{
  right: -30px
}