@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'system';
    src: url('./assets/fonts/Poppins-Regular.ttf');
}
:root{
    --app-green-dark: #0a6373;
    --app-green: #0f857d;
    --app-green-opacity: #0f857d92;
    --app-green-classic: #1ba39a;
    --app-light-loading-bar: #0db7df;
    --unseen-noti-color: #F84F31;
    --light-white-color: #dce8ff;
    --btn-disabled-color: #bcc0c7;
}
body, body *{
    font-family: 'system';
    scroll-behavior: smooth;
}
textarea{
    resize: none;
}
input:focus{
    outline: none;
}
.header{
    z-index: 990;
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #0f7b8f5f;
}
.df-page-bg{
    background: #eeaeca;
    background: radial-gradient(circle, rgba(238, 174, 202, 0.568) 0%, rgba(148,187,233,1) 100%);
}
.page-not-found-label{
    font-size: 30px;
    font-weight: 900;
    /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #073f49; */
    background: -webkit-linear-gradient(20deg,#33c6bc,#0f857d, #0a6373);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.modal{
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 5%);
}
.modal-box{
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%,-50%); */
    position: relative;
    transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.float-icon{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.float-icon.r-gap-2{
    right: -3px;
    bottom: -3px;
}
.unseen-noti{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 10px;
    height: 10px;
    background-color: var(--unseen-noti-color);
    border-radius: 50%;
}
.noti-color-bg{
    background-color: var(--app-green-classic);
    color: var(--light-white-color);
}
.noti-color-bg.seen{
    background-color: var(--btn-disabled-color);
    color: var(--app-green-dark);
}
.loading-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .2vh;
    
}
.loading-bar::before{
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 20%;
    background-color: var(--app-light-loading-bar);
    animation: loadingbar 1s linear infinite;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes loadingbar {
    0% {
    left:0%;
    right:100%;
    width:0%;
    }
    10% {
    left:0%;
    right:75%;
    width:25%;
    }
    90% {
    right:0%;
    left:75%;
    width:25%;
    }
    100% {
    left:100%;
    right:0%;
    width:0%;
    }
}
.p-data-icon{
    top: 10px;
    left:10px;
    z-index: 2;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn{
    background-color: var(--app-green);
    color: #d4d4d4;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btn:hover{
    background-color: var(--app-green-opacity);
}
.text-green{
    color: var(--app-green);
}
.text-green-dark{
    color: var(--app-green-dark);
}
.fixed-rl-box{
    height: calc(100% - 65px);
}
.btn.disabled{
    background-color: var(--btn-disabled-color);
}
.btn.secondary{
    background-color: var(--light-white-color);
}
.btn.delete{
    background-color: var(--light-white-color);
    color: var(--unseen-noti-color);
}
.btn.delete:hover{
    background-color: #f0505059;
}
.smooth-shadow{
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.114);
}
.blog-cov{
    overflow: hidden;
}
.blog-cov img{
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.blog-cov:hover > img{
    transform: scale(1.2);
}
